* {
  box-sizing: border-box;
}

.contents {
  width: 100%;
  height: 100vh;
  

 
  .top {
    width: 100%;
    height: 80px;
    z-index: 1;
    position: fixed;
    background-color: rgb(83, 58, 58);
    border-bottom: solid 1px #eee;
    .side {
    width: 50%;
    height: 80px;
    float: left;
      .side-box{
        height: 80px;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        color: white;
        font-size: 30px;
       
      }
    }
    .main{
    width: 50%;
    height: 80px;
    float: right;
      .main-box{
        height: 80px;
        display: flex;
        padding: 0 20px;
        align-items: center;
        color: white;
        ul{
          display:flex;
          li{
            margin-left: 30px;
            font-size: 20px;
            a{
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .content {
    padding-top: 80px;
    width: 100%;
    height: calc( 100vh - 60px);
    .content-box{
      height: 100%;
      width: 100%;
      background-image: url(hoge2.jpg);
      background-size: 1500px;
    }
  }
  

  .down {
    width: 100%;
    height: 60px;
    bottom: 0;
    background-color: rgb(83, 58, 58);
    z-index: 1;
    position: fixed;
    .down-box {
      display: flex;
      padding-top: 15px;
      
    &__btn{
      height: 40px;
      width: 150px;
      color: #fff;
      display: block;
      font-size:15px;
      line-height: 40px;
      margin: 0 auto;
      border-radius: 10px;
      text-decoration: none;
      text-align: center;
      &--icon{
        padding-right: 10px;
      }   
      &--facebook{
        background-color: #4169e1;
      }
      &--twitter{
        background-color: #00bfff;
      }
      &--instagram{
        background-color: #fc76bf;
      }
    }
    }
      
  }
}